---
import ListItem from "./ListItem.astro";
---

<section class=" w-full mt-8 flex flex-col gap-5 rounded-lg">
    <h3 class="text-4xl text-[#815044] font-bold">Ingredients</h3>
    <ul class="list-disc pl-5 text-[#8c655b] ">
        <ListItem description="2-3 large eggs" />
        <ListItem description="Salt, to taste" />
        <ListItem description="Pepper, to tase" />
        <ListItem description="1 tablespone of butter or oil" />
        <ListItem description="Optional fillings: cheese, diced vegetables, cooked metas, herbs." />
    </ul>
</section>