---
import ListItem from "./ListItem.astro";
---

<section class=" w-full mt-2 flex flex-col gap-5 rounded-lg">
    <h3 class="text-4xl text-[#815044] font-bold">Instructions</h3>
    <ul class="list-decimal pl-7 text-[#8c655b] ">
        <ListItem title="Beat the eggs" description="In a bowl, beat the eggs with a pinch of salt and pepper until they are well mixed. You can add a tablespoon of water or milk for a fluffer texture" />
        <ListItem title="Heat the pan" description="Place a non-stick fryiing pan over medium heat and add butter or oil" />
        <ListItem title="Cook the omelette" description="Once the butter is melted and bubbling, pour in the eggs. Tilt the pan to ensure the eggs evenly coat the surface." />
        <ListItem title="Add fillings (optional)" description="When the eggs begin to set at the edges but are still slightly runny in the middle, sprinkle your chosen filings over one half of the omelette" />
        <ListItem title="Fold and serve" description="As the omelette continues to cook, carefully lift one edge and fold it over the fillings. Let it cook for another minute, then slide it onto a plate." />
        <ListItem title="Enjoy" description="Serve hot, with additional salt and pepper if needed." />
    </ul>
</section>