---
const { title, description } = Astro.props;
---

<li class="pl-6 text-[555250]">
  <strong class="font-bold">{title}: </strong>
  <p class="text-[#615754] inline-block">
    {description}
  </p>
</li>
