---
import Preparation from './Preparation.astro';
---
<div class="bg-[#ffffff] max-w-3xl flex flex-col justify-center items-center rounded-lg p-8">
    <img src="../assets/images/image-omelette.jpeg" alt="Recipe image" class="rounded-lg mb-4" />
    <header class="flex flex-col justify-center gap-6">
        <h1 class="text-5xl font-bold pt-5">Simple Omelette Recipe</h1>
        <p>An easy quick dish, perfect for any meal. This classic omelette combines beaten eggs cooked to perfection, optionally filled with your choice of cheese, vegetables or meats.</p>
    </header>
    <Preparation />
</div>