---
import './src/styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Recipe page challenge</title>
	</head>
	<body class="bg-[#f3e5d8] flex flex-row justify-center items-center min-h-screen mt-16 mb-16">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		width: 100%;
		color: #555250;
	}
	.discos{
		background-color: #8e6074;
	}
</style>
